*{
  text-align:center;
  font-family: sans-serif;
  color:white;
  background-color: black;
  animation-name: load;
  animation-duration: 1s;
}
@keyframes load{
  0%{
  margin-left: 100px;
  color: black;
  opacity: 0%;
  }
}
button{
  border-style: outset;
  border-width: 10px;
  border-radius: 20px;
  transition-property: border-width;
  transition-duration: 0.5s;
}
button:hover{
  border-style: ridge;
  border-width: 20px;
}
button:active{
  border-style: inset;
  border-radius: 20px;
}
h1,h2,h3{
  font-family: sans-serif;
}
li{
  text-align: center;
}
#bver{
  text-align: left;
  font-size: 20%;
  color: grey
}
.GameName{
  opacity: 0;
  font-size: 0px;
  display:contents;
}
/*CSS revision 1957*/