*{
  background-color:black;
  text-align:center;
  font-family: sans-serif;
  animation-name: load;
  animation-duration: 1s;
}
@keyframes load{
  0%{
  margin-left: 100px;
  color: white;
  opacity: 0%;
  }
}
button{
    background-color: black; /* Blue */
  border: none;
  border-radius:100px;
    border-color:white;
  border-style: solid;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition:0.3s;
  cursor: pointer;
  

}
button:hover {
  height:80px;
    width:140px;
  transition:0.3s;
}
.image {
   border-radius: 100px;
  width: 40%;
  transition:0.3s;
    height:120%; 
}
.image:hover {
  width:80%;
  height:240%;
  border-radius: 100px;
  
}
#main {
  .flex-container {
  display: flex;
  flex-direction: row;
  order: 0;
  flex-grow: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
}
.button {
  border-radius:0px;
  background-color:black;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/02/Transparent_square.svg");
  height: 100px;
  border-style: none;
  width: 300px;
  border-color:dodgerblue;
  border-width:100px;
  

  
}

.button:hover {
  height:100px;
  width:300px;
}

h1,h2,h3{
  font-family: sans-serif;
  color:white;
}
li{
  text-align: center;
}
#bver{
  text-align: left;
  font-size: 20%;
  color: grey
}
.GameName{
  opacity: 0;
  font-size: 0px;
  display:contents;
}
/*CSS revision 69z69*/
